* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    height: 100vh;
    background: #00091f;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 70vmin;
    height: 70vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vmin;
}

.button-option {
    background: #ffffff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #00091f;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.button-option:disabled {
    background-color: #f0f0f0;
}

#restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: #ffffff;
    color: #00091f;
    border: none;
    margin-top: 1.5em;
    cursor: pointer;
}

.popup {
    background: rgba(0, 0, 31, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 4rem;
    color: #ffffff;
    text-align: center;
}

#new-game {
    font-size: 1.5em;
    padding: 0.5em 1.5em;
    background-color: #ffffff;
    color: #00091f;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

.popup.hide {
    display: none;
}
